nav { 
    border: 2px solid #0004ff;
    margin: 30px;
    padding: 10px;
    background-color: #ffffff;
}

.home {
    text-align: center;
}

/***********************/
/****Overall Styling****/
html {                               
    background-color: black;
}
h1, h2, p, div {                      
    color: white;
}
/***********************/


/***********************/
.firstcar {
    display: flex;
}
.secondcar {
    display: flex;
}
.thirdcar {
    display: flex;
}
.title {
    border: 2px solid rgb(255, 255, 255);

}
.car1 {
    border: 2px solid rgb(255, 255, 255);
    flex-wrap: wrap;

}
.car2 {
    border: 2px solid rgb(255, 255, 255);
    flex-wrap: wrap;

}
/***********************/

/************Different Screen Sizes***********/
@media only screen and (max-width: 600px) {
    .title {padding: 8px;}
    h1,h2 {text-align: center;}
    nav{font-size: 12.5px;}
    img {max-width: 180%;}

    
}
/***********************/



/***Sizes Home Page Video and Images***/
.homeimages {
    display: flex;
    justify-content: center;
}
.himg {
    width: 200px;
    padding: 20px;
}
.homevideo {
    display: flex;
    justify-content: center ;
}
/***********************/
/***Sizes all Images***/
.series3 {
    width: 300px;
    padding: 50px;
}
.series5 {
    width: 300px;
    padding: 50px;}
.series8 {
    width: 300px;
    padding: 50px;}
.x3 {
    width: 300px;
    padding: 50px;}
.x5 {
    width: 300px;
    padding: 50px;}
.x6 {
    width: 300px;
    padding: 50px;}
/***********************/

.footer {
    float: right;
}