nav {
    border: 5px solid #020086;
    margin: 25px;
    padding: 5px;
    background-color: #ffffff;
    text-align: center;  
}

a:hover {
    background-color: #ff000041;
}

body {
    background-color: #000dff;
    color: #ffffff;
    margin: 50px;
}

/*Series 3/ M3 Tables/ Images */
.bmw3 {
    display: flex;
    
}
.m3 {
    text-align: center;
    margin: 50px;
}
.series3 {
    width: 250px;
    height: 200px;
    } 
/*Series 3/ M3 Tables */
/*Series 5/ M5 Tables/ Images*/
.bmw5 {
    display: flex;
}
.m5 {
    text-align: center;
    margin: 50px;
}
.series5 {
    width: 250px;
    height: 200px;
   } 
/*Series 5/ M5 Tables/ Images*/
/*Series 8/ M8 Tables/ Images*/
.bmw8 {
    display: flex;
}
.m8 {
    text-align: center;
    margin: 50px;
}
.series8 {
    width: 300px;
    height: 200px;
    }
/*Series 8/ M8 Tables/ Images*/



h1, p {
    text-align: center;
}



table {background-color: #ff0000;}

.home {width: 200px;}/*home screen images*/
.homeimages{  display: flex;}












