h1 {
    background-color: #554b4b;
}

body {
    background-color: #000000; color: #ff0000;
}
a:visited {
    background-color: #00ffff;
}

a:hover {
    background-color: #ff6600;
}
nav {
    border: 2px solid #fc8c03;
    margin: 30px;
    padding: 10px;
    background-color: #ffffff;
}



.evenrow {
    background: purple; color: white
}




