<style>
.firstcar {
    border: 6px solid green;
    display: flex;
}
.secondcar {
    border: 6px solid orange;
    display: flex;
}
.thirdcar {
    border: 6px solid rgb(0, 255, 200);
    display: flex;
}
.title {
    border: 4px solid red;
}
.car1 {
    border: 4px solid blue;
}
.car2 {
    border: 4px solid pink;
}
</style>